header {
    text-align: center;
    font-family: $open-sans;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 90%;
    margin: auto;
    transition: all .6s ease-in-out .6s;
    @include tablet {
        flex-direction: row-reverse;
    }
    @include desktop {
        justify-content: flex-end;
        margin-left: 30px;
    }
    form {
        margin-top: 10px;
    }
}

.header-after {
    height: 300px;
    margin-bottom: 20px;
    @include tablet {
        justify-content: flex-end;
        height: auto;
        margin-bottom: 0;
        margin-left: 60px;
    }
    @include desktop {
        margin-left: 20px;
    }
}

.logocontainer {
    margin: 1rem;
    transition: all .6s ease-in-out .6s;
}

.logoafter img {
    width: 150px;
    transition: all .6s ease-in-out .6s;
    @include tablet {
        width: 80px;
        margin-right: 80px;
    }
}